.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.pageButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  border-radius: 4px;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.pageButton:hover:not(:disabled) {
  background-color: #0056b3;
}
